header {
    background-color: black;
    color: #ffffff
}

.cabecalho {
    color:white;
    margin: left : 660PX;
    text-align: center;
    display: flex;
}

.cabecalho-lista-1{
color: white;
margin-left: 260px; /* alinhamento a esquerda */
padding: 40px; /* espaçamento vertical */
display: inline-block;
justify-content: center;
}

.cabecalho-lista-2 {
    color:#ffffff;
    margin-left: 260px;
    padding: 40px;
    display: inline-block;
    justify-content: center;
}

body{
    background-color: rgb(252, 252, 175);
    color: black;
}

.titulo-2{
    color:black;
    margin:center;
    
}